[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
jupyterlab = "*"
numpy = "*"
matplotlib = "*"
mypy = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
yapf = "*"
sphinx = "==1.8.3"
m2r = "==0.2.1"
sphinx_rtd_theme = "==0.4.2"

[packages]
boilerplate = {editable = true,path = "."}

[requires]
python_version = "3.7"